	*{
	padding: 0;
	margin: 0;
}
body{
	background: #fff;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	display: block;
}
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:30px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.header{
	width: 100%;
	height: 40px;
	background: #333333;
	position: fixed;
	z-index: 9999999999;
}
.header .nav{
	width: 1226px;
	height: 40px;
	margin:0 auto;
	text-align: center;
	line-height: 40px;
}
.header .nav  ul{
	height: 40px;
	width: 850px;
	float: left;
}
.header .nav  ul li{
	width: 85px;
	height: 40px;
	float: left;
}
.header .nav  ul li:last-child{
	margin-left:10px;
}
.header .nav  ul li a{
	color: #999;
	display: block;
	font-size: 12px;
}
.border{
	width: 1px;
	height: 12px;
	float: left;
	background: #999;
	margin-top: 15px;
}
.header .login{
	width: 250px;
	height: 40px;
	float: left;
	margin-left: 100px;
}
.header .nav a:hover{
	color: #fff;
}
.header .nav ul li .shop:hover{
	background: #fff;
	color: #999;
	width: 96px;
}

.header .nav ul li .top_nav_2{
	width: 280px;
	height:0px;
	position: absolute;
	z-index: 1000;
	margin-left: -185px;
	background: #fff;
	transition:all 1s;
	opacity: 0;
}
.header .nav ul li:hover .top_nav_2{
	height: 100px;
	border: 1px solid #999;
	border-top: none;
	opacity: 1;
}
/*.header .nav ul li:hover .top_nav_2{
	animation: top_nav_2_run 1s ease;
}
@keyframes top_nav_2_run{
	from{
		height: 0px;
		box-shadow: none;
	}
	to{
		height: 100px;
		box-shadow: 2px 2px 4px #999;
	}
}*/
.content{
	padding-top: 40px;
	width: 1226px;
	height: 1220px;
	margin: 0 auto
}
.main_head{
	width:1226px;
	height: 100px;
	margin:auto auto;
}
.main_head .logo{
	width: 250px;
	height: 100px;
	float: left;
}
.main_head .nav{
	width: 630px;
	height: 100px;
	float: left;
	margin-left:20px;
}
.main_head .nav li{
	text-align: center;
	height: 100px;
	line-height: 100px;
	padding: 0 14px;
	float: left;
}
.main_head .nav li a{
	color: #666;
	display: block;
}
.main_head .nav li a:hover{
	color: #ff6600;
}
.main_head .find{
	width: 310px;
	height: 50px;
	float: right;
	margin-top: 24px;
}
.clear{
	clear: both;
}
.main_head .find input{
	width: 210px;
	height: 48px;
	float:right;
	border: 1px solid #999;
	border-right: none;
	font-size: 18px;
	padding: 0 5px;
	outline: none;
}
.main_head .find a{
	display: block;
	background: #999;
	width: 80px;
	height: 48px;
	border:1px solid #999;
	text-align: center;
	line-height: 48px;
	float: right;
	font-weight: bold;
	font-size: 18px;
	color: #444;
}
.main_head .find a:hover{
	background: #FF6700;
	color: #fff;
}
.content .banner{
	width: 1226px;
	height: 460px;
	position: relative;
}
.content .banner .nanner_img{
	width: 1226px;
	height: 460px;
	position: relative;
	z-index: 100;
}
.content .nav_left{
	width: 233px;
	height: 460px;
	position: absolute;
	z-index: 200;
	top:0;
	left: 0;
}
.content .nav_left ul{
	width: 233px;
	height: 460px;
	background:rgba(0,0,0,0.6);
}
.content .nav_left ul li{
	width: 233px;
	height: 46px;
	line-height:46px;
}
.content .nav_left ul li a{
	color: #fff;
	font-size: 14px;
	display: block;
}
.content .nav_left ul li a:hover{
	background: #FF6700;
}
.content .nav_left ul li a pre{
	margin-left: 33px;
}
.content .nav_left ul li .nav_left_2{
	height: 460px;
	width: 470px;
	background: #fff;
	position: absolute;
	z-index: 99000;
	left: 233px;
	top:0px;
	display: none;
}
.content .nav_left ul li:hover .nav_left_2{
	display: block;
}
.content .nav_left ul li .nav_left_2 ul{
	width: 233px;
	height: 460px;
	float: left;
	background: #fff;
}
.content .nav_left ul li .nav_left_2 ul li{
	width: 200px;
	height: 76px;
	line-height: 76px;
	margin-left:33px;
}
.content .nav_left ul li .nav_left_2 ul li img{
	vertical-align: middle;
}
.content .nav_left ul li .nav_left_2 ul li label{
	margin-left: 20px;
	color: #333;
}
.content_1{
	width: 1226px;
	height:170px;
	margin: 20px auto;
}
.content_1 li{
	width: 316px;
	height: 170px;
	float: left;
	margin-right: 10px;
}
.content_1 li:last-child{
	margin-right: 0px;
}
.content_1 .li_1{
	width: 242px;
	height: 164px;
	padding: 3px;
	background: #5f5750;
}
.content_1 ul li ul{
  color: #fff;
  text-align: center;
  font-size: 12px;
}
.content_1 ul li ul li{
	width: 75px;
	margin-right:4px;
	height: 78px;
	float: left;
	border: 1px solid #888;
} 
.content_1 ul li .ul_1 li{
	border-top: none;
}
.content_1 ul li ul li a{
	display: block;
	color: #fff;

}
.content_1 ul li ul li:first-child{
	border-left: none;
}
.content_1 ul li ul li:last-child{
	margin-right:0px;
	border-right:none; 
}
.content_1 ul li ul li p{
	margin-top: 10px;
}
.content_1 ul li ul li p:last-child{
	margin-top: -0.5px;
}
.content_1 ul li .ul_2 li{
	margin-top: 5px;
	border-bottom: none;
}
.content .xm_plain_box{
	width: 1226px;
	height: 405px;
	margin-top: 20px;
}
.content .xm_plain_box span{
	height: 50px;
	line-height: 50px;
	color: #333;
	font-size: 25px;

}
.content .xm_plain_box ul li{
	width: 233px;
	height: 350px;
	float: left;
	margin-right: 15px;
	background: #FAFAFA;
	text-align: center;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}
.content .xm_plain_box ul li:hover{
	transform: translateY(-5px);
	box-shadow: 0px 0px 6px #999;
}

.content .xm_plain_box ul li:nth-child(1){
	border-top: 1px solid #FFAC13;
}
.content .xm_plain_box ul li:nth-child(2){
	border-top: 1px solid #83C44E;
}
.content .xm_plain_box ul li:nth-child(3){
	border-top: 1px solid #2196F3;
}
.content .xm_plain_box ul li:nth-child(4){
	border-top: 1px solid #E53935;
}
.content .xm_plain_box ul li:nth-child(5){
	border-top: 1px solid #00c0a5;
}
.content .xm_plain_box ul .li_bottom{
	margin-right: 0px;
}
.content .xm_plain_box ul li a:nth-child(2){
	color: #333;
	font-size: 14px;
}
.content .xm_plain_box ul li a:nth-child(3){
	color: #999;
	font-size: 12px;
	margin-top:5px;
}
.content .xm_plain_box ul li a:nth-child(4){
	color:red;
	font-size: 14px;
	margin-top:10px;
}
.page_main{
	width: 100%;
	height: 3256px;
	background: #F5F5F5;
	border: 1px solid #F5F5F5;
}
.page_main .main_elec{
	width: 1226px;
	height: 664px;
	margin: 20px auto;
}
.page_main .main_elec .title{
	width: 100%;
	height: 50px;
}
.page_main .main_elec .title span{
	color: #333;
	font-size: 25px;
	line-height: 50px;
}
.page_main .main_elec .title label{
	float: right;
	margin-top:20px;
}
.page_main .main_elec .title label a{
	color: #333;
	margin-right: 20px;
	float: left;
	font-size: 12px;
}
.page_main .main_elec .title label a:hover{
	border-bottom: 1px solid #FF6801;
	color: #FF6801;
}
.page_main .main_elec .main_ct{
	width: 1226px;
	height: 614px;
}
.page_main .main_elec .main_ct .left{
	width: 233px;
	height: 615px;
	float: left;
	margin-right: 15px;
}
.page_main .main_elec .main_ct .left img{
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.page_main .main_elec .main_ct .left img:hover{
	transform: translateY(-5px);
	box-shadow: 0px 0px 15px #cacaca;
}
.page_main .main_elec .main_ct .left img:last-child{
	margin-top:10px;
}
.page_main .main_elec .main_ct ul{
	width: 978px;
	height: 300px;
	float: left;
}
.page_main .main_elec .main_ct .ul_2{
	margin-top: 15px;
}
.page_main .main_elec .main_ct ul li{
	width: 233px;
	height: 300px;
	float: left;
	margin-right: 15px;
	text-align: center;
	background: #fff;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	overflow: hidden;
	position: relative;
}
.page_main .main_elec .main_ct ul li:hover{
	transform: translateY(-5px);
	box-shadow: 0px 0px 15px #cacaca;
}
.page_main .main_elec .main_ct .last_li{
	margin-right: 0px;
}
 .page_main .main_elec .main_ct ul li a:nth-child(2){
	color: #333;
	font-size: 14px;
}
.page_main .main_elec .main_ct ul li a:nth-child(3){
	color: #999;
	font-size: 12px;
	margin-top:5px;
}
.page_main .main_elec .main_ct ul li a:nth-child(4){
	color:red;
	font-size: 14px;
	margin-top:10px;
}
.page_main .main_elec .main_ct ul li .text_run{
	width: 233px;
	height: 60px;
	background: #ff6600;
	text-align: center;
	line-height:60px;
	color: #fff;
	position: absolute;
	z-index: 999;
	bottom: -60px;
	font-size: 14px;
	transition: all 0.9s;
	opacity: 0;
}
.page_main .main_elec .main_ct ul li:hover .text_run{
	transform: translateY(-60px);
	opacity: 1;
}
.page_main .tuijian{
	width: 1226px;
	height: 400px;
	margin: 0 auto;
}
.page_main .tuijian .title{
	width: 1226px;
	height: 50px;
}
.page_main .tuijian .title span{
	font-size: 25px;
	line-height: 50px;
	color: #333;	
}
.page_main .tuijian .title label{
	float: right;
	margin-top: 20px;
}
.page_main .tuijian .title label a{
	float: left;
	font-size: 12px;
	margin-right: 20px;
	color: #333;
}
.page_main .tuijian .title label a:hover{
	color: #FF6801;
	border-bottom: 1px solid #FF6801;
}
.page_main .tuijian .main_ct{
	width: 1226px;
	height: 350px;
}
.page_main .tuijian .main_ct ul li{
	width: 297px;
	height: 350px;
	text-align: center;
	float: left;
	background: #fff;
	margin-right: 11px;
}
.page_main .tuijian .main_ct .last_li{
	margin-right: 0px;
}
.page_main .tuijian .main_ct ul li a:nth-child(2){
	margin-top:10px;
	font-size: 14px;
	color: #333;
}
.page_main .tuijian .main_ct ul li a:nth-child(3){
	margin-top:5px;
	font-size: 12px;
	color: #999;
}
.page_main .tuijian .main_ct ul li a:nth-child(4){
	margin-top:10px;
	font-size: 14px;
	color: #333;
}
.page_main .tuijian .main_ct ul li a span{
	color: red;
}


.bottom_nav{
	width: 1226px;
	height: 80px;
	margin: 20px auto;
	border-bottom: 1px solid #999;
}
.bottom_nav ul{
	width: 1010px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	margin: auto;
}
.bottom_nav li a{
	display:block;
	width:200px;
	height: 40px;
	float: left;
	color: #999;
}
.bottom_nav li a:hover{
	color: #333;
}
.bottom_nav .border_2{
	width: 2px;
	height: 26px;
	float: left;
	background: #999;
	margin-top: 27px;
} 
.footer_bg{
	width: 100%;
	height: 360px;
	background: #fff;
}
.footer{
	width: 1226px;
	height: 230px;
	margin: 0 auto;
}
.footer_nav{
	width: 780px;
	height: 200px;
	float: left;
	margin:40px 0 0 150px;
}
.footer_nav ul{
	width: 170px;
	height: 200px;
	float: left;
}
.footer_nav ul p{
	font-size: 16px;
}
.footer_nav ul li a{
	display: block;
	margin-top: 20px;
	color: #999;
	font-size: 13px;
}
.footer_nav ul li a:hover{
	color: #666;
}
.footer .phone{
	width: 170px;
	height: 140px;
	border-left: 1px solid #999;
	float: left;
	padding-left: 70px;
	text-align: center;
	margin-top: 45px;
}
.footer .phone p{
	margin-top: 8px;
}
.footer .phone p:nth-child(1){
	font-size: 18px;
	color: #ff6600;
	font-weight: bold;
}
.footer .phone p:nth-child(2){
	font-size: 14px;
}
.footer .phone p:nth-child(3){
	font-size: 14px;
}
.footer .phone a{
	display: block;
	padding:4px 5px;
	border: 1px solid #ff6600;
	color: #ff6600;
	margin-top: 15px;
}
.footer .phone a:hover{
	background: #ff6600;
	color: #fff;
}
.container{
	width: 1226px;
	height: 60px;
	margin:0 auto; 
}
.container .bottom_left{
	width: 830px;
	height: 48px;
	float: left;
}
.container .bottom_left img{
	width: 48px;
	height: 48px;
	float: left;
}
.container .bottom_left .ct{
	width: 780px;
	height: 48px;
	float: left;
}
.container .bottom_left .ct p{
	font-size: 10px;
	color: #999;
}
.container .bottom_left ul li a{
	float: left;
	font-size: 10px;
	padding: 0 8px;
	color: #333;
}
.container .bottom_left ul li a:hover{
	color: #FF6B00;
}
.clear{
	clear: both;
}
.border_3{
	width: 1px;
	height: 10px;
	background: #333;
	float: left;
	margin-top: 3px;
}
.container .bottom_right{
	width: 390px;
	height: 38px;
	float:left;
	margin-top: 5px;
}
.container .bottom_right ul li{
	float: left;
	width: 130px;
	height: 38px;

}
.container .bottom_right ul li span{
	font-size: 12px;
	width: 90px;
	height: 90px;
	float: left;
}
.container .bottom_right ul li img{
	float: left;
	width: 38px;
	height:38px;
}